{% extends "content.html" %}
{% load humanize googlecharts %}
{% block extra_head %}
<script type="text/javascript">
    $(document).ready(function() {
            var $dialog = $('<div></div>').load("/game/form/").dialog({autoOpen: false, title: '', modal:true, width:400});
            $("#new_game").live('click', function() {
                $dialog.dialog('open');
                });
            });
    $(function() {

            $(".team").draggable({
                helper: function(event){
                return $('<div class="drag-cart-item"><table></table></div>')
                .find('table').append($(event.target).closest('tr').clone()).end().appendTo('body');
                },
            });
            counter = 0;
            $("#calculate_points").droppable({
                activeClass: 'alert-success',
                accept: ".team",
                drop: function(event, ui) {
                    counter++;
                    window['team' + counter] = function() {
                        return ui.draggable.find(".team-id").attr('id');
                    }
                    if (counter == 2){
                        url = "/calculate_results?team1=" + team1() + "&team2=" + team2();
                        $("#dialog").load(url).dialog({modal:true, width:400});
                        $(this).html("<h3>Reikna stig</h3>");
                        counter = 0;
                    }
                    else {
                        $(this).html($(this).html() + "<br />" + ui.draggable.find(".team-name").text());
                    }
                }
            });
            $(".player").draggable({
                helper: function(event){
                return $('<div class="drag-cart-item"><table></table></div>')
                .find('table').append($(event.target).closest('tr').clone()).end().appendTo('body');
                },
            });
            player_counter = 0;
            $("#generate_teams").droppable({
                activeClass: 'alert-success',
                accept: ".player",
                drop: function(event, ui) {
                    player_counter++;
                    window['player' + player_counter] = function() {
                        return ui.draggable.find(".player-id").attr('id');
                    }
                    if (player_counter == 4){
                        url = "/generate_teams?players=" + player1() + ',' + player2() + ',' + player3() + ',' + player4();
                        $("#dialog").load(url).dialog({modal:true, width:400});
                        $(this).html("<h3>Búa til lið</h3>");
                        player_counter = 0;
                        //window.location.href = "/generate_teams?players=" + player1() + ',' + player2() + ',' + player3() + ',' + player4();
                    }
                    else {
                        $(this).html($(this).html() + "<br />" + ui.draggable.find(".player-name").text());
                    }
                }
            });
            compare_counter = 0;
            $("#compare_teams").droppable({
                activeClass: 'alert-success',
                accept: ".team",
                drop: function(event, ui) {
                    compare_counter++;
                    window['team' + compare_counter] = function() {
                        return ui.draggable.find(".team-id").attr('id');
                    }
                    if (compare_counter == 2){
                        url = "/compare_teams?team1=" + team1() + "&team2=" + team2();
                        $("#dialog").load(url).dialog({modal:true, width:400});
                        $(this).html("<h3>Bera saman lið</h3>");
                        compare_counter = 0;
                    }
                    else {
                        $(this).html($(this).html() + "<br />" + ui.draggable.find(".team-name").text());
                    }
                }
            });
            compare_p_counter = 0;
            $("#compare_players").droppable({
                activeClass: 'alert-success',
                accept: ".player",
                drop: function(event, ui) {
                    compare_p_counter++;
                    window['player' + compare_p_counter] = function() {
                        return ui.draggable.find(".player-id").attr('id');
                    }
                    if (compare_p_counter == 2){
                        url = "/compare_players?player1=" + player1() + "&player2=" + player2();
                        $("#dialog").load(url).dialog({modal:true, width:400});
                        $(this).html("<h3>Bera saman leikmenn</h3>");
                        compare_p_counter = 0;
                    }
                    else {
                        $(this).html($(this).html() + "<br />" + ui.draggable.find(".player-name").text());
                    }
                }
            });
    });
</script>
{% endblock extra_head %}
{% block main %}
<div class="row">
    <div class="span6">
        <table class="table table-striped table-condensed" id="teams">
            <tr>
                <th>#</th>
                <th>Lið</th>
                <th>Stig</th>
                <th>Leikir</th>
                <th>Sigrar</th>
                <th>Jafntefli</th>
                <th>Töp</th>
                <th>Breyting</th>
                <th>Stig +/-</th>
            </tr>
            {% for team in teams %}
            <tr class="team" id="{{ team.pk }}">
                <td class="team-id" id="{{ team.pk }}">{{ forloop.counter }}</td>
                <td>
                    {% if team.team.favourite_fifa_team %}<img src="{{ MEDIA_URL }}/{{ team.team.favourite_fifa_team.image }}" style="height:16px;width:16px;" />{% endif %}
                    <a class="team-name" href="{% url view-team team.team.pk %}">{{ team.team.name }}</a>
                    {% comment %}
                    {% for a in team.achievement_set.all %}
                    {% if a.is_highest %}
                    {% if a.game.all %}
                    <a href="{% url view-game a.game.all.reverse.0.pk %}">
                        <img title="{{ a.template.name }}" alt="{{a.template.name }}" src="{{ MEDIA_URL }}/{{ a.template.icon }}" />
                    </a>
                    {% else %}
                    <img title="{{ a.template.name }}" alt="{{a.template.name }}" src="{{ MEDIA_URL }}/{{ a.template.icon }}" />
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% endcomment %}
                </td>
                <td>{{ team.points|floatformat:"0"|intcomma }}</td>
                <td>{{ team.games }}</td>
                <td>{{ team.wins }}</td>
                <td>{{ team.draws }}</td>
                <td>{{ team.losses }}</td>
                <td>
                    {% comment %}
                    {%  ifnotequal team.get_change "same" %}
                    <img src="
                        {% ifequal team.get_change "down" %}/assets/static/img/Arrow-Down.png
                        {% else %}
                            {% ifequal team.get_change "up" %}/assets/static/img/Arrow-Up.png
                        {% endifequal %}{% endifequal %}" style="height:16px;"/>
                    {% endifnotequal %}
                    {% endcomment %}
                </td>
                <td>
                    <span class="label
                        {% if team.point_change < 0  %} label-important{% else %}{% if team.point_change > 0 %} label-success{% else %} label-info{% endif %}{% endif %}">
                        {{ team.point_change|floatformat:"2" }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </table>
        <table class="table table-striped table-condensed">
            <tr>
                <th>#</th>
                <th>Einstaklingur</th>
                <th>Stig</th>
                <th>Leikir</th>
                <th>Sigrar</th>
                <th>Jafntefli</th>
                <th>Töp</th>
                <th>Breyting</th>
                <th>Stig +/-</th>
            </tr>
            {% for team in twoplayers %}
            <tr class="team">
                <td class="team-id" id="{{ team.pk }}">{{ forloop.counter }}</td>
                <td>
                    {% if team.team.favourite_fifa_team %}<img src="{{ MEDIA_URL }}/{{ team.team.favourite_fifa_team.image }}" style="height:16px;width:16px;" />{% endif %}
                    <a class="team-name" href="{% url view-team team.team.pk %}">{{ team.team.name }}</a>
                    {% comment %}
                    {% for a in team.achievement_set.all %}
                    {% if a.is_highest %}
                    {% if a.game.all %}
                    <a href="{% url view-game a.game.all.0.pk %}">
                        <img title="{{ a.template.name }}" alt="{{a.template.name }}" src="{{ MEDIA_URL }}/{{ a.template.icon }}" />
                    </a>
                    {% else %}
                    <img title="{{ a.template.name }}" alt="{{a.template.name }}" src="{{ MEDIA_URL }}/{{ a.template.icon }}" />
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% endcomment %}
                </td>
                <td>{{ team.points|floatformat:"0"|intcomma }}</td>
                <td>{{ team.games }}</td>
                <td>{{ team.wins }}</td>
                <td>{{ team.draws }}</td>
                <td>{{ team.losses }}</td>
                <td>
                    {% comment %}
                    {%  ifnotequal team.get_change "same" %}
                    <img src="
                        {% ifequal team.get_change "down" %}/assets/static/img/Arrow-Down.png
                              {% else %}
                                {% ifequal team.get_change "up" %}/assets/static/img/Arrow-Up.png
                                {% endifequal %}
                                {% endifequal %}" style="height:16px;"/>
                    {% endifnotequal %}
                    {% endcomment %}
                </td>
                <td>
                    <span class="label
                        {% if team.point_change < 0  %} label-important{% else %}{% if team.point_change > 0 %} label-success{% else %} label-info{% endif %}{% endif %}">
                        {{ team.point_change|floatformat:"2" }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="span6">
        <table class="table table-striped table-condensed">
            <tr>
                <th>#</th>
                <th>Einstaklingur</th>
                <th>Stig</th>
                <th>Leikir</th>
                <th>Sigrar</th>
                <th>Jafntefli</th>
                <th>Töp</th>
                <th>Breyting</th>
                <th>Stig +/-</th>
            </tr>
            {% for team in players %}
            <tr class="team">
                <td class="team-id" id="{{ team.pk }}">{{ forloop.counter }}</td>
                <td>
                    {% if team.team.favourite_fifa_team %}<img src="{{ MEDIA_URL }}/{{ team.team.favourite_fifa_team.image }}" style="height:16px;width:16px;" />{% endif %}
                    <a class="team-name" href="{% url view-team team.team.pk %}">{{ team.team.name }}</a>
                    {% comment %}
                    {% for a in team.achievement_set.all %}
                    {% if a.is_highest %}
                    {% if a.game.all %}
                    <a href="{% url view-game a.game.all.0.pk %}">
                        <img title="{{ a.template.name }}" alt="{{a.template.name }}" src="{{ MEDIA_URL }}/{{ a.template.icon }}" />
                    </a>
                    {% else %}
                    <img title="{{ a.template.name }}" alt="{{a.template.name }}" src="{{ MEDIA_URL }}/{{ a.template.icon }}" />
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% endcomment %}
                </td>
                <td>{{ team.points|floatformat:"0"|intcomma }}</td>
                <td>{{ team.games }}</td>
                <td>{{ team.wins }}</td>
                <td>{{ team.draws }}</td>
                <td>{{ team.losses }}</td>
                <td>
                    {% comment %}
                    {%  ifnotequal team.get_change "same" %}
                    <img src="
                        {% ifequal team.get_change "down" %}/assets/static/img/Arrow-Down.png
                              {% else %}
                                {% ifequal team.get_change "up" %}/assets/static/img/Arrow-Up.png
                                {% endifequal %}
                                {% endifequal %}" style="height:16px;"/>
                    {% endifnotequal %}
                    {% endcomment %}
                </td>
                <td>
                    <span class="label
                        {% if team.point_change < 0  %} label-important{% else %}{% if team.point_change > 0 %} label-success{% else %} label-info{% endif %}{% endif %}">
                        {{ team.point_change|floatformat:"2" }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </table>
        <table class="table table-striped table-condensed">
            <tr>
                <th>#</th>
                <th>Leikmaður</th>
                <th>Leikir</th>
                <th>Sigrar</th>
                <th>Jafntefli</th>
                <th>Töp</th>
                <th>Ratio</th>
            </tr>
            {% for team in combined %}
            <tr class="player">
                <td class="player-id" id="{{ team.pk }}">{{ forloop.counter }}</td>
                <td class="player-name"><a href="{% url view-player team.player.pk %}">{{ team.player.name }}</a></td>
                <td>{{ team.games }}</td>
                <td>{{ team.wins }}</td>
                <td>{{ team.draws }}</td>
                <td>{{ team.losses }}</td>
                <td>{{ team.ratio|floatformat:2 }} %</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="row">
    <div class="span3">
        <div class="alert" id="calculate_points">
            <h3>Reikna stig</h3>
        </div>
    </div>
    <div class="span3">
        <div class="alert" id="generate_teams">
            <h3>Búa til lið</h3>
        </div>
    </div>
    <div class="span3">
        <div class="alert" id="compare_teams">
            <h3>Bera saman lið</h3>
        </div>
    </div>
    <div class="span3">
        <div class="alert" id="compare_players">
            <h3>Bera saman leikmenn</h3>
        </div>
    </div>
</div>
<div id="dialog"></div>
{% comment %}
<div id="out"></div>
{% googlecharts %}
    {# named data and options can be reused #}
    {% data values "out_data" %}
        {% col "string" "Name" %}"{{ val }}"{% endcol %}
        {% col "number" "Value" %}{{ val }}{% endcol %}
    {% enddata %}
    {# you can also use global javascript variables here, #}
    {# and call functions #}
    {% options "out_options" %}
        kind: "PieChart",
        options: {
            width: 300,
            height: 240
        }
    {% endoptions %}
    {# chart is assembled from container, data and options #}
    {% graph "out" "out_data" "out_options" %}
{% endgooglecharts %}
{% endcomment %}
{% endblock %}
