{% extends "content.html" %}
{% load humanize %}
{% block extra_head %}
    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {'packages':['corechart']});
      google.setOnLoadCallback(drawVisualization);
        function drawVisualization() {
          // Create and populate the data table.
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'game');
          data.addColumn('number', '{{ team.name }}');
          data.addRows({{ team.points_set.all.count }});
          {% for points in team.points_set.all %}
          data.setValue({{ forloop.counter0 }}, 0, "{{ points.game.home_team.name }} {{ points.game.home_score }} - {{points.game.away_score}} {{ points.game.away_team.name }}");
          data.setValue({{ forloop.counter0 }}, 1, {{ points.points }});
          {% endfor %}

          // Create and draw the visualization.
          new google.visualization.LineChart(document.getElementById('chart_div')).
              draw(data, {width: 600, height: 400}
                  );
        }
    </script>
{% endblock extra_head %}
{% block main %}
<div class="row">
    <div class="span6">
        <h3>{{ team.name }} - {{ team.get_latest_points|floatformat:0|intcomma }}</h3>
        <div id='chart_div' style='width: 700px; height: 240px;'></div>
    </div>
    <div class="span6">
        <table class="table">
            <thead>
                <tr>
                    <th>Dagsetning</th>
                    <th>Lið</th>
                    <th>Mótherji</th>
                    <th>Úrslit</th>
                    <th>Breyting</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games.object_list %}
                <tr>
                    <td>{{ game.date }}</td>
                    <td>
                      {% if player in game.home_team.players.all %}
                          <a href="{% url view-team game.home_team.pk %}">{{ game.home_team }}</a>
                      {% else %}
                          <a href="{% url view-team game.away_team.pk %}">{{ game.away_team }}</a>
                      {% endif %}
                    </td>
                    <td>
                      {% if player in game.home_team.players.all %}
                          <a href="{% url view-team game.away_team.pk %}">{{ game.away_team }}</a>
                      {% else %}
                          <a href="{% url view-team game.home_team.pk %}">{{ game.home_team }}</a>
                      {% endif %}
                    </td>
                    <td>
                      {% if player in game.home_team.players.all %}{{ game.home_score }} - {{ game.away_score }}
                      {% else %}{{ game.away_score }} - {{ game.home_score }}{% endif %}
                    </td>
                    <td>
                      {% if player in game.home_team.players.all %}
                      <span class="label {% if game.points_set.all.0.get_change < 0 %}label-important{% else %}{% if game.points_set.all.0.get_change > 0 %}label-success{%else%}label-info{% endif %}{% endif %}">
                          {{ game.points_set.all.0.get_change|floatformat:2 }}
                        </span>
                      {% else %}
                      <span class="label {% if game.points_set.all.0.get_change < 0 %}label-success{% else %}{% if game.points_set.all.0.get_change > 0 %}label-important{%else%}label-info{% endif %}{% endif %}">
                        {{ game.points_set.all.1.get_change|floatformat:2 }}
                      </span>
                      {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="pagination">
          <ul>
            {% if games.has_previous %}
              <li class="prev"><a href="?page={{ games.previous_page_number }}">←  fyrri</a></li>
            {% else %}
              <li class="prev disabled"><a href="#">←  fyrri</a></li>
            {% endif %}

            {% for i in games.paginator.page_range  %}
              {% if forloop.counter == games.number %}
                <li class="active"><a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
              {% else %}
                <li><a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
              {% endif %}
            {% endfor %}

            {% if games.has_next %}
              <li class="next"><a href="?page={{ games.next_page_number }}">næsta →</a></li>
            {% else %}
              <li class="next disabled"><a href="#">næsta →</a></li>
           {% endif %}
         </ul>
       </div>
     </div>
{% endblock main %}
