{% extends "content.html" %}
{% block main %}
<h1>{{ tournament.name }} @ {{ tournament.location }}</h1>
<div class="well">
  <a href="{% url next-elimination-stage tournament.pk %}" class="btn btn-primary">Útsláttur</a>
  <a href="{% url next-elimination-stage tournament.pk 8 %}" class="btn btn-primary">Undanúrslit</a>
  <a href="{% url next-elimination-stage tournament.pk 4 %}" class="btn btn-primary">Úrslit</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Heimalið</th>
      <th></th>
      <th></th>
      <th>Útilið</th>
      <th>Úrslit</th>
    </tr>
  </thead>
  <tbody>
    {% for game in tournament.game_set.all %}
    <tr>
      <td>{{ game.tournamentelimination_set.all.0.status.name }}</td>
      <td>
        <a href="{% url view-team game.home_team.pk %}">
          <span class="label label-{% ifequal game.winner game.home_team %}success{% else %}{% ifequal game.winner game.away_team %}important{% else %}info{% endifequal %}{% endifequal %}">
            {{ game.home_team }}
          </span>
        </a>
      </td>
      <td>{% if game.home_fifa_team %}{{ game.home_fifa_team }}{% endif %}</td>
      <td>{% if game.away_fifa_team %}{{ game.away_fifa_team }}{% endif %}</td>
      <td>
        <a href="{% url view-team game.away_team.pk %}">
          <span class="label label-{% ifequal game.winner game.away_team %}success{% else %}{% ifequal game.winner game.home_team %}important{% else %}info{% endifequal %}{% endifequal %}">
            {{ game.away_team }}
          </span>
        </a>
        <td>{% if game.display_score %}{{ game.display_score }}{% else %}<a href="{% url admin:core_game_change game.pk %}">Leikur ekki hafinn</a>{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock main %}
